@model Category
@{
    ViewData["Title"] = @Model.Name;
    var activeProducts = Model.Products?.Where(p => p.IsActive).ToList() ?? new List<Product>();
}
<div class="my-5">
    <h1 class="text-center">@Model.Name</h1>

    @if (activeProducts.Any())
    {
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in activeProducts)
            {
                <partial name="_ProductView" model="item" />
            }
        </div>
    }
    else
    {
        <div class="alert alert-info text-center">Bu kategoride aktif ürün bulunmamaktadır.</div>
    }
</div>
